/* barre de navigation */

.navbar-default,
.navbar-default.scroll {
	background-color: rgba(138, 129, 175, 0.7);
/*background-image: url(img/restaureF3.jpg);*/
opacity: 0.90;
}

.navbar-default .navbar-header .navbar-brand,
.navbar-default .navbar-header .navbar-brand.scroll,
.navbar-default .nav > li > a,
.navbar-default .nav > li > a.scroll {
	color: black;#FFF

}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:hover.scroll,
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:hover.scroll {
	color: white;#333
}

.navbar-default,
.navbar-default .navbar-header .navbar-brand,
.navbar-default .nav > li > a:hover {
	transition: all 0.50s;
}

.navbar-default {
	padding: 15px 0;
	border: none;

}
.navbar-fixed-top{
	padding-bottom : 20px;
}

.navbar-default.scroll {
	padding: 0;
}
/*Fedala dans Navbar :*/



.navbar-default .navbar-header .navbar-brand {
	font-family: 'Great Vibes';
	font-size: 45px;
	color : red;
	letter-spacing: 2px;
	line-height: 35px;
	padding-right: 45px;
}

.navbar-nav nav-middle ul{
	font-family"Philosopher",sans-serif;
}
.nav-middle {
	/*float : left;*/
	opacity: 1;
	/*padding: 0 0 0 25%;*/
	text-shadow: 2px 2px 4px white;
	font-size: 25px;
	padding-top: 20px;
	font-family"Philosopher",sans-serif;

}

.navbar-right {
	float: right;
	margin-right: 0;
	font-size: 20px;
	padding-top: 20px;
	font-family"Philosopher",sans-serif;
}

.nav-right li a {
	font-size: 20px;
	color : blue;
	font-family"Philosopher",sans-serif;
}

/*.navbar-default .navbar-header .navbar-brand.scroll {
	font-size: 50px;
}
*/

/*
.navbar-default .nav li a {
	font-size: 29px;
	font-weight: 500;
	
	color : blue;
	
*/
